.navigation {
  width: 100%;
  justify-content: space-between;
  padding: 5px 15px;
  flex-grow: 1;
}

.display-flex {
  display: flex;
}

.nav-bar-image {
  width: 15px;
}

.border-bottom {
  border-bottom: 1px solid #b2beb5;
}

.nav-bar-list {
  margin: 5px 10px;
}

.space-comos {
  font-weight: bolder;
}

.nav-button {
  padding: 10px;
  background-color: rgb(83, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: #fff;
  flex-grow: 1;
}

.margin-right {
  margin-right: 30px;
}

.nav-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.article-header {
  margin: 40px 10px 10px 10px;
  font-style: italic;
  font-size: 2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 55%;
}

.article-image {
  display: block;
}
.align-center{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.width-80-percent {
  width: 80%;
}

.article-image-details {
  font-size: 80%;
  max-width: 90%;
}

.margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.inflation-theory-section {
  background-image: url(../images/inflation-theory-image.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.inflation-theory-section-paragraph {
  max-width: 20%;
  font-size: 70%;
}

.inflation-theory-section-paragraph-first-div {
  margin: 17% 8px 0 40px;
  line-height: normal;
}

.inflation-theory-section-paragraph-second-div {
  margin: 31% 30px;
  line-height: normal;
}

.bolder {
  font-size: 80%;
  font-weight: bolder;
}

.space-and-astronomy {
  width: 65%;
  border-top: 1px solid #000;
  margin-right: 16px;
  margin-left: 2.5%;
}

.space-and-astronomy-header {
  font-size: 80%;
  font-weight: bolder;
}

.space-and-astronomy-div {
}
.space-and-astronomy-anchore {
  padding: 10px;
}

.space-and-astronomy-image {
  width: 100%;
}
.figcaption {
  color: #808080;
  width: 100%;
  font-size: 50%;
  line-height: 1.23em;
}

.header-caption {
  width: 100%;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin: 0;
}

.display-inline-block {
  display: inline-block;
}
.most-popular {
  width: 28%;
  border-top: 1px solid #000;
  margin-left: 10px;
}
.most-popular-header {
  font-size: 80%;
}
.most-popular-headings {
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 8px 0px;
  width: 100%;
  line-height: 1.425rem;
}
.most-popular-anchor{
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: rgb(18, 18, 18);
  font-weight: 500;
  font-family: ;
}
